In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("E:\Fraud.csv")

In [3]:
data.head()

,step,type,a2ount,na2eOrig,oldbalan1eOrg,newbalan1eOrig,na2eDest,oldbalan1eDest,newbalan1eDest,isFraud,isFlaggedFraud
0,1,1,9839.64,11231006815,170136.0,160296.36,21979787155,0.0,0.0,0,0
1,1,1,1864.28,11666544295,21249.0,19384.72,22044282225,0.0,0.0,0,0
2,1,2,181.00,11305486145,181.0,0.00,1553264065,0.0,0.0,1,0
3,1,5,181.00,1840083671,181.0,0.00,138997010,21182.0,0.0,1,0
4,1,1,11668.14,12048537720,41554.0,29885.86,21230701703,0.0,0.0,0,0

In [4]:
fraud = data.loc[data['isFraud'] == 1]
safe = data.loc[data['isFraud'] == 0]

In [5]:
fraud

,step,type,a2ount,na2eOrig,oldbalan1eOrg,newbalan1eOrig,na2eDest,oldbalan1eDest,newbalan1eDest,isFraud,isFlaggedFraud
2,1,2,181.00,11305486145,181.00,0.0,1553264065,0.00,0.00,1,0
3,1,5,181.00,1840083671,181.00,0.0,138997010,21182.00,0.00,1,0
251,1,2,2806.00,11420196421,2806.00,0.0,1972765878,0.00,0.00,1,0
252,1,5,2806.00,12101527076,2806.00,0.0,11007251739,26202.00,0.00,1,0
680,1,2,20128.00,1137533655,20128.00,0.0,11848415041,0.00,0.00,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1047888,95,5,56745.14,1526144262,56745.14,0.0,179051264,51433.88,108179.02,1,0
1048221,95,2,33676.59,1732111322,33676.59,0.0,11140210295,0.00,0.00,1,0
1048222,95,5,33676.59,11000086512,33676.59,0.0,11759363094,0.00,33676.59,1,0
1048323,95,2,87999.25,1927181710,87999.25,0.0,1757947873,0.00,0.00,1,0
1048324,95,5,87999.25,1409531429,87999.25,0.0,11827219533,0.00,87999.25,1,0

In [6]:
fraud.count()

step              1142
type              1142
a2ount            1142
na2eOrig          1142
oldbalan1eOrg     1142
newbalan1eOrig    1142
na2eDest          1142
oldbalan1eDest    1142
newbalan1eDest    1142
isFraud           1142
isFlaggedFraud    1142
dtype: int64

In [7]:
fraud.sum()

step              5.512700e+04
type              4.018000e+03
a2ount            1.361982e+09
na2eOrig          7.593470e+12
oldbalan1eOrg     1.391683e+09
newbalan1eOrig    3.876441e+07
na2eDest          7.457329e+12
oldbalan1eDest    5.171731e+08
newbalan1eDest    1.231008e+09
isFraud           1.142000e+03
isFlaggedFraud    0.000000e+00
dtype: float64

In [8]:
len(fraud)

1142

In [9]:
len(safe)

1047433

In [10]:
#FOR TYPE
#PAYMENT -1
#TRANSFER -2
#DEBIT -3
#CASH_IN -4
#CASH_0UT-5

#FOR nameOrig and name Dest
#C = 1
#M = 2

In [11]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [12]:
X = data.iloc[:,:-1]
Y= data['isFraud']

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size= 0.35)

In [14]:
clf = linear_model.LogisticRegression(C=1e5)

In [15]:
clf.fit(X_train,Y_train)

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=100000.0)

In [16]:
Y_pred = np.array(clf.predict(X_test))
Y = np.array(Y_test)

In [17]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [18]:
print(confusion_matrix(Y,Y_pred))

[[366432    146]
 [   276    148]]

In [19]:
print(accuracy_score(Y,Y_pred))

0.9988501425060354

In [20]:
print(classification_report(Y,Y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    366578
           1       0.50      0.35      0.41       424

    accuracy                           1.00    367002
   macro avg       0.75      0.67      0.71    367002
weighted avg       1.00      1.00      1.00    367002